.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
*/venv/
*/env/
*/.venv/

# Environment variables
.env
*.env
.env.*

# Node.js
node_modules/
whatsapp_integration/mcp_server_node/wweb_session/
whatsapp_integration/mcp_server_node/.env

# WhatsApp Web JS Cache
whatsapp_integration/mcp_server_node/.wwebjs_cache/
